


<li>
    {{name}}

    <button class="change-devoured button-style" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}EATIN' TIME!!{{else}}NOT HUNGRY!{{/if}}
    </button>

    <button class="delete-burger button-style" data-id="{{this.id}}">DELETE!</button>
</li>

